<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://humphries-inf554.s3-us-west-1.amazonaws.com/viterbi_3.css" />
    <link rel="shortcut icon" href="https://www.usc.edu/favicon.ico" />
    <link rel="favicon" href="https://www.usc.edu/favicon.ico" />
</head>

<body>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment-with-locales.min.js"></script>
    <div class="container-fluid">
        <div class="row cardinal_background">
            <div class="col-sm-2 cardinal project_name">
                <img src="https://vsoeapp1.vsoe.usc.edu/images/USC-Bar-cardinal.gif">
                <br />
            </div>
            <div class="col-sm-8 cardinal_background project_name">
                Bummer!

            </div>
            <div class="col-sm-2 cardinal_background bootcamp_name">
                <p class="gold">Patrick Humphries, M.B.A.
                    <br />
                    INF 554: Information Visualization
                    <br />
                    Fall 2019
                    </p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <h3>Sorry. The error "unknown" was encountered.</h3>
        <fieldset>
            <legend>Instructions</legend>
            <p>Close this tab and return to the Humphries tab.</p>
        </fieldset>
    </div>
</body>

</html>