<!DOCTYPE html>
<html>

<head>

    <title>South America Energy</title>

    <!-- Metadata -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Assignment_6, humphries">
    <meta name="Author" content="Patrick Humphries">
    <meta http-equiv="charset" content="utf-8">
    <meta http-equiv="content-type" content="text/html">

    <!-- Data Driven Documents -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <!-- <script src="./node_modules/d3/dist/d3.min.js"></script> -->

    <!-- Application Scripts -->
    <script type="text/javascript" src="main.js"></script>
    <script type="text/javascript" src="build_heading_row.js"></script>
    <script type="text/javascript" src="build_navigation_row.js"></script>
    <script type="text/javascript" src="build_assignment_row.js"></script>
    <script type="text/javascript" src="build_bar_chart_row.js"></script>
    <script type="text/javascript" src="build_bar_chart.js"></script>
    <script type="text/javascript" src="select_data.js"></script>
    <script type="text/javascript" src="sort_data.js"></script>
    <script type="text/javascript" src="razel_dazel.js"></script>
    
    <!-- Bootstrap -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- U.S.C. Decorations -->
    <link rel="stylesheet" type="text/css" href="viterbi.css" />
    <link rel="shortcut icon" href="https://www.usc.edu/favicon.ico" />
    <link rel="favicon" href="https://www.usc.edu/favicon.ico" />

</head>

<!-- All HTML components are built with D3.js methods -->
<body onload='main()'></body>
